
@import url(highlight.js/styles/github.css);

.slide-area {}

.slide-area .md-code-block {
  font-size: 24px;
  background-color: #eaeaea;
  padding: 16px;
  overflow: auto;
  line-height: 1.5em;
}

.slide-area .md-p {
  font-size: 36px;
  line-height: 1.6em;
  margin-bottom: 40px;
}

.slide-area h1 {
  text-align: center;
  margin-top: 80px;
}

.slide-area h2 {
  text-align: center;
}

.slide-area h3 {
  text-align: center;
}

.slide-area h4 {
  margin-bottom: 4px;
}

.slide-area blockquote {
  margin: 0px;
  padding: 16px;
  background: #e8e8e8;
}

.headlines-page h1,
.headlines-page h2,
.headlines-page h3 {
  margin: 0;
}
